//
// User styles
// -----------------------------------------------------------------------------
// NOTE: the following user styles are designed for default theme Curtana

// EXAMPLE: alternative title size
// By default all heading levels have the same font size, but many people may
// not like this, so here's an alternative font size stack:
// .content {
//   h2 { font-size: 108%; opacity: .8; }
//   h3 { font-size: 96%;  opacity: .7; }
//   h4 { font-size: 84%;  opacity: .6; }
//   h5 { font-size: 72%;  opacity: .5; }
//   h6 { font-size: 60%;  opacity: .4; }
// }

// EXAMPLE: alternative post title color
// This is useful when you're using the custom color scheme.
// .content { .list h2 a, header h1, header h1 a { color: var(--link-color); } }
// .external span { background: var(--link-color); }

// EXAMPLE: Custom typography for Chinese Traditional
// :root {
//   --fontstack-sans-serif: "Helvetica Neue", "Hiragino Sans GB", Arial, sans-serif;
//   --fontstack-serif: Georgia, "Hiragino Mincho ProN", serif;
// }

// EXAMPLE: amsf.github.io custom appearance
:root {
  --code-color-h: calc(var(--link-color-h) + 10);
  --code-color-s: calc(var(--link-color-s) * .2 + 40%);
}

.content .sub-title {
  font-size: 108%;
  opacity: .8;
}

// Arsenin
:root {
  --link-color: hsl(240, 100%, 50%);
  --text-color: hsl(240, 100%, 50%);
  --par-font-size: calc(var(--font-size) * 0.8); // instead of 80%
  --nav-height: calc(var(--nav-padding) * 2 + var(--par-font-size) * 2);
}

.content {
  p { font-size: var(--par-font-size); }
  header small { font-size: var(--par-font-size); }
  p a {
    //transition: unset;
    font-weight: normal;
    text-decoration: var(--text-color) underline;
    text-underline-position: under;
    &:hover,
    &:focus {
      //transition: unset;
      text-decoration: transparent underline !important;
      //color: var(--link-color);
    }
  }
  header {
    background: transparent;
    margin-left: calc(var(--space-header) * -1 + var(--nav-height));
    margin-right: calc(var(--space-header) * -1 + var(--nav-height));
    padding-left: calc(var(--space-header) - var(--nav-height));
    padding-right: calc(var(--space-header) - var(--nav-height));
  }
}

.navigation {
  font-size: var(--par-font-size);
  font-weight: normal;
}
